color_grey=#c9c9c9
color_hl=#4A90E2
page_width=800
width_feature=258
height_feature=130

html, body
  font-size 12px
  line-height 20px
  margin 0
  padding 0
  background #fff
  font-family: Verdana, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;

p
  margin 0
  padding 0

a
  text-decoration none
  color color_hl

a:hover
  color color_hl * 1.2

#wrapper
  margin 0 auto
  border-top solid 2px #666

#wrapper .lang-en
  display none
#wrapper.lang-cn
  p.lang-cn
    display block
  span.lang-cn
    display inline
  .lang-en
    display none
#wrapper.lang-en
  .lang-cn
    display none
  p.lang-en
    display block
  span.lang-en
    display inline

#lang
  width 800px
  margin 0 auto

  ul
    float right
    margin 0
    padding 2px 10px 4px 10px
    background #666
    border-radius 0 0 4px 4px
    list-style none

  li
    margin 0
    float left
    padding 0 5px
    a
      display block
      width 24px
      height 24px
      text-indent -4em
      overflow hidden
      background transparent url(img/cn.png) no-repeat 50% 50%

    a#lang-en
      background-image url(img/us.png)

#head
  text-align center
  padding 72px 0 42px 0

  #logo
    img
      width 366px

  #intro
    margin-top 16px
    color #999

#capture
  height 240px
  overflow hidden
  text-align center

  img
    width 800px
    border solid 1px #979797

#detail
  background #f5f5f5
  box-shadow inset 0 1px 2px 0 #9B9B9B
  padding 60px 0 96px 0

  #download, #features
    width 800px
    margin 0 auto

  #download
    text-align center

  #btn-download
    display inline-block
    width 192px
    height 48px
    line-height @height
    text-align center
    background color_hl
    color #fff
    font-size 18px

  #alternative-download
    color color_grey
    margin 10px 0

    a
      color color_grey
    a:hover
      color color_hl

#features
  padding-top 120px

  h2
    font-size 18px
    margin 0
    padding 0
    line-height 30px

    span
      //color color_grey
      //padding-left 0.5em
      font-weight normal


  ul
    m=(page_width - width_feature * 3) / 4
    list-style none
    height 450px
    overflow hidden
    width (page_width + m * 2) px
    padding 0
    margin 32px 0 0 ((- m) px)

    li
      float left
      padding 0
      //width 33.3%
      width width_feature px
      height 240px
      margin 0 (m px)
      overflow hidden
      text-align center

      img
        width width_feature px
        height height_feature px

      p
        text-align center

      p.en
        color color_grey


#foot
  padding 42px 0
  text-align center

  p.copyright
    color color_grey

    a
      color color_grey
      font-weight bold

    a:hover
      color color_hl

@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5)
  #lang
    ul li a
      background-image url(img/cn@2x.png)
      background-size 24px 24px
    ul li a#lang-en
      background-image url(img/us@2x.png)
