@import '../cfg.less';
//@import '../styles/iconfont/iconfont.css';

.root {
  position: fixed;
  width: @panel-width;
  top: 0;
  left: 0;
  bottom: 0;
  //height: 100%;
  background: @bg_left;
  color: @font_color_left;
  -webkit-app-region: drag;
}

.mac_handler {
  height: 36px;
  //-webkit-app-region: drag;
}
