@import "../styles/cfg";

.root {
  -webkit-app-region: no-drag;
  line-height: 24px;

  :global {
    .ant-tree {
      background: transparent;

      .ant-tree-treenode {
        padding: 2px 0 0 0;
        height: 30px;
      }

      .ant-tree-node-content-wrapper.ant-tree-node-selected {
        background: transparent;
      }

      .ant-tree-node-content-wrapper:hover {
        background: transparent;
      }
    }
  }
}

.custom-items {
  position: fixed;
  width: 240px;
  top: 36px;
  bottom: 30px;
  overflow: auto;

  .my-scroll();
}

.sort-bg {
  //background: @sorg-bg-color;
}

:global(.platform-darwin) {
  .custom-items {
    top: 66px;
  }
}
