@import "../styles/common";

.root {
  @include code;
  height: 100%;
}

.content {
  height: calc(100% - var(--swh-status-bar-height));
  background: var(--swh-editor-read-only-bg);
  font-size: var(--swh-editor-font-size);
  line-height: var(--swh-editor-line-height);
  color: var(--swh-editor-text-color);
  overflow: auto;
  padding: 8px 10px;
}

.line {
  min-height: var(--swh-editor-line-height);
}
