.root {
  color: var(--swh-status-bar-font-color);
  height: var(--swh-status-bar-height);
  line-height: var(--swh-status-bar-height);
  background: var(--swh-status-bar-bg);
  font-size: var(--swh-status-bar-font-size);
}
