:global(.theme-dark) {
  --swh-primary-color: var(--mantine-primary-color-filled);
  --swh-accent-soft-bg: #623b47;
  --swh-accent-soft-hover-bg: #754654;
  --swh-accent-soft-color: #f2cdd5;
  --swh-border-color-0: var(--mantine-color-dark-4);
  --swh-border-color-1: var(--mantine-color-dark-5);
  --swh-input-bg: var(--mantine-color-dark-5);
  --swh-font-color: #aaa;
  --swh-font-color-weak: #666;
  --swh-font-color-reverse: #eee;
  --swh-border-radius: 4px;
  --swh-highlight-bg: #993;

  // window
  --swh-window-bg: var(--mantine-color-dark-7);

  //  top bar
  --swh-top-bar-height: 40px;
  --swh-top-tool-bar-height: 28px;
  --swh-top-bar-bg: #272b34;
  --swh-top-bar-read-only-bg: #4b4e56;
  --swh-top-bar-read-only-color: #f1f2f4;

  // left
  --swh-left-panel-bg: var(--mantine-color-dark-6);
  //--swh-left-panel-status-bar-bg: #f6f6f6;
  --swh-tree-row-height: 2em;
  --swh-tree-node-drag-bg: var(--mantine-color-dark-5);
  --swh-tree-selected-bg: var(--mantine-primary-color-filled);
  --swh-tree-hover-bg: var(--mantine-primary-color-light);
  --swh-hosts-selected-bg: var(--swh-accent-soft-bg);
  --swh-hosts-selected-color: var(--swh-accent-soft-color);
  --swh-hosts-selected-indicator: #e88496;

  // main
  --swh-main-bg: var(--mantine-color-dark-6);

  // status bar
  --swh-status-bar-height: 22px;
  --swh-status-bar-bg: transparent;
  --swh-status-bar-font-color: var(--swh-font-color-weak);
  --swh-status-bar-font-size: 10px;

  // right
  --swh-right-panel-bg: var(--mantine-color-dark-6);

  // right bar
  --swh-right-bar-width: 48px;
  --swh-right-bar-bg: var(--mantine-color-dark-5);

  // switch button
  --swh-switch-button-main-color-off: #bfbfbf;
  --swh-switch-button-bg-color-off: #50535b;
  --swh-switch-button-border-color-off: #777b85;
  --swh-switch-button-main-color-on: #fff;
  --swh-switch-button-bg-color-on: #d46a7e;
  --swh-switch-button-border-color-on: #d46a7e;

  --swh-editor-boundary-color: #e0b5c0;
  --swh-editor-boundary-rule: #785461;

  // editor & viewer
  --swh-editor-text-color: #dedbd9;
  --swh-editor-comment-color: var(--swh-editor-comment);
  --swh-editor-ip-color: var(--swh-editor-ip);
  --swh-editor-error-color: var(--swh-editor-error);
  --swh-editor-line-number-color: #625d5a;
  --swh-editor-line-number-bg: #fff;
  --swh-editor-read-only-bg: #383a3e;
  --swh-editor-font-size: 1em;
  --swh-editor-line-height: 1.8em;

  --swh-editor-bg-color: var(--mantine-color-dark-6);
  --swh-editor-ip-hs: 271, 75%;
  --swh-editor-comment-hs: 18, 6%;
  --swh-editor-error-hs: 352, 100%;
  --swh-editor-ip: #cba2f2;
  --swh-editor-keyword: #06427d;
  --swh-editor-error: #ff8f9e;
  --swh-editor-comment: #aaa3a0;
  --swh-editor-hl-bg: #ff0;
  --swh-editor-gutter-bg: var(--mantine-color-dark-6);

  // tray
  --swh-tray-header-bg: var(--swh-left-panel-bg);
  --swh-tray-font-color: #fff;
  --swh-tray-border-color: #50535b;
  --swh-tray-button-bg: #393c42;
  --swh-tray-button-hover-bg: #454850;

  // scroll bar
  --swh-scrollbar-track: rgba(204, 204, 204, 0.25);
  --swh-scrollbar-corner: #fff;
  --swh-scrollbar-thumb: rgba(255, 255, 255, 0.4);
  --swh-scrollbar-thumb-hover: rgba(255, 255, 255, 0.5);
  --swh-scrollbar-filler: #2b2b2b;

  // other componets
  --tree-drag-select-bg-color: var(--swh-tree-selected-bg);
  --tree-drag-indicator-color: var(--swh-primary-color);

  //color-scheme
  --swh-color-scheme: dark;
}
