:global(.theme-light) {
  --swh-primary-color: #007aff;
  --swh-border-color-0: #ccc;
  --swh-border-color-1: #d5d3d9;
  --swh-input-bg: #dad8de;
  --swh-font-color: #000;
  --swh-font-color-weak: #999;
  --swh-font-color-reverse: #fff;
  --swh-border-radius: 4px;
  --swh-highlight-bg: #ee0;

  //  top bar
  --swh-top-bar-height: 40px;
  --swh-top-tool-bar-height: 28px;
  --swh-top-bar-bg: #fff;
  --swh-top-bar-read-only-bg: #f5f5f5;

  // left
  --swh-left-panel-bg: #edebf1;
  //--swh-left-panel-status-bar-bg: #f6f6f6;
  --swh-tree-row-height: 2em;
  --swh-tree-node-drag-bg: #fff;
  --swh-tree-selected-bg: #cbdef6;
  --swh-tree-hover-bg: #f2f1f5;

  // main
  --swh-main-bg: #fff;

  // status bar
  --swh-status-bar-height: 22px;
  --swh-status-bar-bg: #f0f1f1;
  --swh-status-bar-font-color: var(--swh-font-color-weak);
  --swh-status-bar-font-size: 10px;

  // right bar
  --swh-right-bar-width: 48px;
  --swh-right-bar-bg: #f6f6f6;

  // switch button
  --swh-switch-button-main-color-off: #999;
  --swh-switch-button-bg-color-off: #ccc;
  --swh-switch-button-main-color-on: #91d982;
  --swh-switch-button-bg-color-on: #fff;

  // editor & viewer
  --swh-editor-text-color: #000;
  --swh-editor-comment-color: #090;
  --swh-editor-ip-color: #009;
  --swh-editor-error-color: #900;
  --swh-editor-line-number-color: #999;
  --swh-editor-line-number-bg: #fff;
  --swh-editor-read-only-bg: #f5f5f5;
  --swh-editor-font-size: 1em;
  --swh-editor-line-height: 1.8em;

  --swh-editor-bg-color: #fff;
  --swh-editor-ip: #096dd9;
  --swh-editor-keyword: #06427d;
  --swh-editor-error: #c36;
  --swh-editor-comment: #090;
  --swh-editor-hl-bg: #ff0;
  --swh-editor-gutter-bg: #fff;

  // tray
  --swh-tray-header-bg: #edebf1;
  --swh-tray-font-color: #000;

  // scroll bar
  --swh-scrollbar-track: rgba(204, 204, 204, 0.25);
  --swh-scrollbar-corner: #fff;
  --swh-scrollbar-thumb: #ccc;
  --swh-scrollbar-filler: #fafafa;

  // other componets
  --tree-drag-select-bg-color: var(--swh-tree-selected-bg);
  --tree-drag-indicator-color: var(--swh-primary-color);

  //color-scheme
  --swh-color-scheme: light;
}
