@import "../styles/common";

.root {
}

.header {
  height: 30px;
  line-height: 30px;
  text-align: center;
  background: var(--swh-primary-color);
  color: var(--swh-font-color-reverse);
  -webkit-app-region: drag;
}

.body {
  padding: 8px;
}
