{
  "presets": [
    [
      "@babel/env",
      {
        "modules": "commonjs",
        "useBuiltIns": false,
        "targets": {
          "browsers": [
            "Chrome >= 60",
            "Safari >= 10.1",
            "iOS >= 10.3",
            "Firefox >= 54",
            "Edge >= 15"
          ]
        }
      }
    ],
    "@babel/react",
    "@babel/flow"
  ],
  "plugins": [
    "@babel/plugin-transform-async-to-generator",
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    [
      "import",
      {
        "libraryName": "antd"
      }
    ]
  ]
}
