.idea
*.pyc
*.swp
src/build
src/dist
dist
projectFilesBackup
*.DS_Store
tmp
*.js.map

*.hosts

src/configs.json

*.swh
*.iml

node_modules
UserInterfaceState.xcuserstate
xcdebugger
npm-debug.log*
.nyc_output
coverage/
package-lock.json
