@import "../styles/common";

.ln {
  margin-bottom: 20px;

  label {
    line-height: 24px;
  }

  button {
    span {
      svg {
        margin-right: 4px;
      }
    }
  }

  //fieldset {
  //  display: grid;
  //  grid-template-columns: 100px 1fr;
  //}
}

.hosts_type_label {

}
