@import "../styles/common";

.root {
  color: var(--swh-status-bar-font-color);
  height: var(--swh-status-bar-height);
  line-height: var(--swh-status-bar-height);
  border-top: 1px solid var(--swh-border-color-1);
  background: var(--swh-status-bar-bg);
  font-size: var(--swh-status-bar-font-size);
}
