@import "../../styles/common";

.root {

}

.item {
  line-height: 1.8em;
  display: grid;
  grid-template-columns: 1fr 30px;
}

.title {

}

.status {
  text-align: right;
  margin: auto 0 auto auto;
}

.children {

}
