@import "../../styles/common";

.list {
  position: relative;
  height: calc(100vh - var(--swh-top-bar-height));
  overflow: auto;
  padding: 5px 10px;
}

:global(.platform-win32) {
  .list {
    @include swh-scroll-y();
  }
}
