@import "../../styles/common";

.root {
  height: var(--swh-tree-row-height);
  line-height: var(--swh-tree-row-height);
  border-radius: var(--swh-border-radius);
  padding: 0 10px;
  cursor: default;
}

.selected {
  background: var(--swh-tree-selected-bg);
}

.icon {
  margin-right: 0.5em;
  display: inline-block;
  vertical-align: middle;
}
