@import "../../styles/common";

.root {

}

.count {
  color: var(--swh-font-color-weak);
  margin-left: 1em;
  font-size: 90%;
}

.trashcan_title {
  opacity: 0.5;
}

.title {
  height: var(--swh-tree-row-height);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
