<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>SwitchHosts!</title>
	<link rel="stylesheet" href="css/iconfont/iconfont.css">
	<link rel="stylesheet" href="node_modules/codemirror/lib/codemirror.css">
	<!--<link rel="stylesheet" href="node_modules/codemirror/theme/neo.css">-->
	<link rel="stylesheet" href="css/style.css">
</head>

<body>
<div id="sh-app">
	<div id="left">
		<div id="host-list">
			<ul id="sys-list">
				<li class="sys" v-cloak @click="showSysHost()" :class="{selected:current_host.is_sys}">
					<i class="iconfont icon-sysserver i-h"></i>
					<span class="title">{{ lang.sys_host_title }}</span>
				</li>
			</ul>
			<ul id="custom-list">
				<li v-cloak
					v-for="host in hosts.list"
					@click="selectHost(host)"
					v-draggable="{index: $index, dragged: 'dragged'}"
					v-dropzone="sort(hosts.list, $index, $droptag, $dropdata)"
					:class="{selected:host==current_host}">
					<!--<i class="switch" @click="switchHost(host)" :class="{'on':host.on}"></i>-->
					<i class="iconfont switch" @click="switchHost(host)" :class="{'icon-on':host.on, 'icon-off':!host.on}"></i>
					<i class="iconfont icon-doc i-h"></i>
					<span class="title">{{ host.title }}</span>
					<i class="iconfont icon-edit btn-edit" @click="edit(host)"></i>
				</li>
			</ul>
		</div>
		<div class="operations">
			<ul>
				<li>
					<a href="#" @click="add()" title="{{ lang.add_host }}"><i class="iconfont icon-add-s"></i></a>
				</li>
				<li class="right">
					<a href="#" @click="tmpClean()" v-cloak v-if="could_tmp_clean_on" title="{{ lang.tmp_clean }}"><i class="iconfont icon-switchon"></i></a>
					<a href="#" @click="tmpRecover()" v-cloak v-if="!could_tmp_clean_on" title="{{ lang.tmp_recover }}"><i class="iconfont icon-switchoff"></i></a>
				</li>
			</ul>
		</div>
	</div>

	<div id="body">
		<div class="code" :class="{readonly:current_host.is_editable===false}">
			<textarea id="host-code" v-model="current_host.content" @input="updateHost(current_host)"></textarea>
		</div>
	</div>

	<div id="overlay" v-show="is_prompt_show" v-cloak></div>
	<div id="edit-form" class="prompt" v-show="is_edit_show" v-cloak>
		<h2>{{ lang[add_or_edit + '_host'] }}</h2>

		<div class="body">
			<div class="ln">
				<label for="ipt-host-title">{{ lang.host_title }}</label>
				<input type="text" id="ipt-host-title" name="host_title"
					   maxlength="24"
					   v-model="current_edit_host.title"
					   @input="chkHostTitle()"
					   @keydown.13="toSave()"
				>

				<div class="inform">{{ current_edit_host.title_inform }}</div>
			</div>
			<div class="ln" v-if="add_or_edit=='edit'">
				<a href="#" class="delete-host" @click="delHost(current_edit_host)"><i class="iconfont icon-delete"></i> {{ lang.del_host }}</a>
			</div>
		</div>
		<div class="foot">
			<button @click="closePrompt()">{{ lang.cancel }}</button>
			<button class="btn-default" @click="toSave()">{{ lang.ok }}</button>
		</div>
	</div>

	<div id="pswd-form" class="prompt" v-show="is_pswd_show" v-cloak>
		<h2>{{ lang.input_sudo_pswd }}</h2>

		<div class="body">
			<div class="ln">
				<label for="ipt-host-title">{{ lang.sudo_pswd }}</label>
				<input type="password" id="ipt-pswd" name="pswd"
					   v-model="sudo_pswd"
					   @keydown.13="chkPswd()"
				>

				<div class="inform">{{ host_title_inform }}</div>
			</div>
		</div>
		<div class="foot">
			<button @click="closePrompt('pswd')">{{ lang.cancel }}</button>
			<button class="btn-default" @click="chkPswd()">{{ lang.ok }}</button>
		</div>
	</div>
</div>
<script>require("./js/sh.js");</script>
</body>
</html>
