@use '../../styles/common';

.root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 24px;
  @include common.win-drag;

  button {
    @include common.win-no-drag;
  }

  .active {
    background-color: var(--swh-accent-soft-bg);
    color: var(--swh-accent-soft-color);

    @media (hover: hover) {
      &:hover:not(:disabled):not([data-disabled]) {
        background-color: var(--swh-accent-soft-hover-bg);
      }
    }
  }
}

.spacer {
  flex: 1;
}
