@use '../../styles/common';

.root {
  $w: 230px;
  $p: 10px;

  background: transparent;
  // border-bottom: 1px solid var(--swh-border-color-0);
  display: flex;
  width: 100%;
  padding: 0 $p;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  user-select: none;
  position: relative;

  .title {
    max-width: calc(100vw - ($w + $p) * 2);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0 auto;
  }
}

.title_wrapper {
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
}

.hosts_icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

:global(.platform-darwin) {
  .root {
    padding-left: 88px;
  }
}

.read_only {
  --badge-bg: var(--swh-top-bar-read-only-bg);
  background-color: var(--swh-top-bar-read-only-bg);
}
