@import "../../styles/common";

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;

  a {
    &:hover {
      opacity: 0.8;
    }
  }

  h2 {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 1em;
  }
}

.logo {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  box-shadow: 0 1px 4px 2px rgba(0, 0, 0, 0.1);
}

.app_name {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 0.5em;
}

.version {
  font-size: 0.8em;
  opacity: 0.5;
}

.links {
  display: flex;
  gap: 1em;
  margin-top: 0.3em;
}

.names {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 8px 20px 20px 20px;
  gap: 0 1em;
  //max-width: 350px;

  a {
    display: inline-block;
  }
}
