@import "./cfg.less";

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: @font_color;
  line-height: 20px;
  background: #fff;
}

a {
  text-decoration: none;
}

#app {
  height: 100%;
}
