@import "../styles/common";

.root {
  width: 100vw;
  height: 100vh;
}

.result_row {
  border-bottom: 1px solid var(--swh-border-color-0);
  display: grid;
  grid-template-columns: 1fr 20% 60px;
  grid-column-gap: 4px;
  line-height: 28px;
  padding-left: 8px;
  cursor: pointer;
  user-select: none;

  &.selected {
    background: var(--swh-tree-selected-bg);
  }

  &.disabled {
    color: var(--swh-font-color-weak);
    text-decoration: line-through;
  }

  &.readonly {
    color: var(--swh-font-color-weak);
  }
}

.result_content {
  //display: flex;

  @include code;
  @include ell;

  span {
    //display: inline-block;
  }

  span:first-child {
    //max-width: 40%;
    //.ell;
  }
}

.result_title {
  display: flex;
  align-items: center;
  overflow: hidden;

  span {
    display: inline-block;
    margin-left: 4px;
    @include ell;
  }
}

.result_line {
  color: var(--swh-font-color-weak);
}

.highlight {
  background: var(--swh-highlight-bg);
}

.read_only {
  //.read_only_tag;

  font-size: 10px;
  color: var(--swh-font-color-weak);
  margin-right: 8px;
}
