@import "../styles/common";

.root {
  display: grid;
  grid-template-rows: var(--swh-top-bar-height) 1fr;
}

.left {
  position: fixed;
  top: var(--swh-top-bar-height);
  left: 0;
  bottom: 0;
  background: var(--swh-left-panel-bg);
  border-right: 1px solid var(--swh-border-color-0);
  transition: 0.3s;
}

.main {
  position: fixed;
  top: var(--swh-top-bar-height);
  right: 0;
  bottom: 0;
  background: var(--swh-main-bg);
  transition: 0.3s;
}

.new_version {
  button {
    color: #fff;
    font-weight: bold;
  }
}
