@use '../styles/common';

.root {
  position: relative;
  height: 100vh;
  background: var(--swh-window-bg);
  border-radius: 12px;
  overflow: hidden;
  padding: 0;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--swh-tray-header-bg);
  color: var(--swh-tray-font-color);
  font-size: 16px;
  font-weight: normal;
  border-bottom: 1px solid var(--swh-border-color-1);
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.body {
  padding: 8px;
  position: absolute;
  top: 40px;
  bottom: 30px;
  left: 0;
  right: 0;
}

.footer {
  position: absolute;
  height: 30px;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--swh-status-bar-bg);
  border-top: 1px solid var(--swh-border-color-0);
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 16px;

  svg {
    cursor: pointer;
  }
}

:global(.platform-win32) {
  //@bd-color: #000;

  .root {
    //box-shadow: inset 0 0 0 1px #000;
    //border: 1px solid @bd-color;
    //box-sizing: border-box;
  }

  .header {
    //height: 41px;
    //border: 1px solid @bd-color;
    //border-bottom: none;
  }

  .body {
    //top: 41px;
    //bottom: 31px;
    //left: 1px;
    //right: 1px;
    @include common.swh-scroll-y();
  }

  .footer {
    //left: 1px;
    //right: 1px;
    //bottom: 1px;
  }
}
