#list {
  .list-item {
    padding: 6px 10px;
    cursor: pointer;

    &.sys-host {
      font-size: 14px;
      padding: 8px 10px;
    }

    &.selected {
      background: #2d3138;
    }

    i {
      display: inline-block;
      width: 20px;
      text-align: center;
      margin-right: 10px;
    }

  }
}
