@import '../styles/cfg.less';

.root {
  @m: 8px;
  position: fixed;
  bottom: 0;
  width: @panel-width - @m * 2;
  height: 30px;
  line-height: 30px;
  //background: @bg_left;
  margin: 0 @m;
  border-top: 1px solid var(--swh-border-color);
  -webkit-app-region: drag;
}

.left {
  float: left;
  padding-left: 2px;
}

.btn-add {
  display: inline-block;
  text-align: center;
  width: 20px;
  color: var(--swh-font-color);
  text-decoration: none;

  &:hover {
    background: var(--swh-bg-color-hover);
  }
}

.right {
  float: right;
  padding-right: 4px;
  height: 30px;

  span[role=img] {
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
  }
}

:global {
  .icon-switchoff {
    position: relative;
    top: -1px;
  }

  .icon-search {
    padding: 0 8px;
    &.on {
      background: var(--swh-bg-color-hover);
    }
  }
}
