@import '../styles/cfg.less';
//@import '../styles/iconfont/iconfont.css';

.root {
  position: fixed;
  width: @panel-width;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
  //height: 100%;
  overflow: hidden;
  //background: @bg_left;
  //color: @font_color_left;
  user-select: none;
  -webkit-app-region: drag;

  :global {
    .ant-tree li .ant-tree-node-content-wrapper.ant-tree-node-selected {
      background: none;
    }

    .ant-tree li .ant-tree-node-content-wrapper:hover {
      background: none;
    }
  }
}

.mac_handler {
  height: 36px;
  -webkit-app-region: drag;
}
