@import '../cfg.less';

#sh-searchbar {
  position: fixed;
  width: 240px;
  left: 0;
  bottom: 30px;
  background: @bg_left_search;
  padding: 6px 20px 5px 18px;
  border-top: solid 1px @bg_left * 0.9;

  input {
    background: transparent;
    border: 0;
    outline: 0;
    color: #fff;
    font-size: 13px;
  }
}
