.link {
  text-decoration: underline;
  color: inherit;
}

.tabs {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  min-height: 0;
}

.tab_panels {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 0;
  overflow: hidden;
}

.tab_panel {
  flex: 1;
  min-height: 0;
  overflow: hidden;
}

.scroll_area {
  height: 100%;
}

.tab_panel_content {
  padding: 20px 0;
}
