@import "@styles/common.scss";

.root {
  h3 {
    font-size: 1em;
    font-weight: bold;
  }

  .info {
    opacity: 0.5;
  }
}

.title {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

//.link {
//  text-decoration: underline;
//  color: inherit;
//}

.tabs {
  height: 100%;
}

.tab_panels {
  height: calc(100vh - 180px);
  margin-bottom: 20px;
  overflow: auto;
  padding: 16px 0;
}
