@import "../../styles/common";

.link {
  text-decoration: underline;
  color: inherit;
}

.tabs {
  height: 100%;
}

.tab_panels {
  height: calc(100% - 37px);
  overflow: auto;
}

:global {
  label {
    span.chakra-radio__control {
      width: 16px;
      height: 16px;
    }
  }
}
