@import "../../styles/common";

.root {
  a {
    color: var(--swh-primary-color);

    &:hover {
      opacity: 0.8;
    }
  }
}

.logo {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.names {
  text-align: center;
  margin: 8px 0 20px 0;

  a {
    margin: 0 0.5em;
  }
}

.footer {
  border-top: 1px solid var(--swh-border-color-1);
}
