font_color=#212121
font_color_left=#979da7
bg_left=#373d47
bd_color=bg_left
bg_prompt=#f5f5f5
left_width=240
color_hover=#09f
color_on=#af9
color_off=font_color_left
color_danger=#f03

html, body
  margin 0
  padding 0
  background #fff
  font-size 12px
  line-height 20px
  font-family Arial, Helvetica, sans-serif
  color font_color

button, input
  font-family Arial, Helvetica, sans-serif

input.err
  border solid 1px color_danger

a
  text-decoration none

a:hover
  color #1f3d66

unselectable()
  -moz-user-select none
  -khtml-user-select none
  -webkit-user-select none
  -o-user-select none

[v-cloak]
  display none

#sh-app
  position fixed
  background #fff
  top 0
  right 0
  bottom 0
  left 0

#left
  position fixed
  width left_width px
  background bg_left
  border-right solid 1px bd_color
  top 0
  bottom 0
  left 0
  color font_color_left

  .operations
    position absolute
    left 0
    bottom 0
    width left_width px
    //hegith 20px
    //border-top solid 1px (bg_left * 0.9)
    background bg_left

    ul
      list-style none
      margin 0
      padding 0 18px 0 10px
      line-height 24px

      li
        float left
        margin 0
        padding 0

        a
          display block
          min-width 20px
          text-align center
          color font_color_left

        a:hover
          background bg_left * 1.1

      li.right
        float right

  //.operations:hover
  //  background bg_left * 0.95
    //a
    //  color #fff

  #search-bar
    //display none
    height 30px
    line-height @height
    background bg_left * 1.2
    padding 0 18px 0 18px
    //border-top solid 1px (bg_left * 0.9)
    box-shadow 0 -1px 0 1px (bg_left * 0.95)

    input
      width 100%
      height 24px
      padding 0
      background transparent
      border none
      outline none
      color #fff
      font-family Menlo

  #btn-toggle-search
    padding 0 4px
    margin-right 10px
  #btn-toggle-search.active
    background bg_left * 1.2

#body
  position fixed
  background #ffc
  top 0
  right 0
  bottom 0
  left (left_width + 1) px

  .status
    position absolute
    z-index 1000
    top 0
    right 0

    .icons
      opacity 0.5
      padding 4px 10px
      background #fff

      i
        padding-left 4px

  .code
    textarea
      width 98%
      //height 60em
      line-height 20px
      font-size 12px
      font-family Menlo, "Source Code Pro", Monaco, "Courier New", sans-serif
      padding 4px 1%
      outline none
      border none


#overlay
  position fixed
  //display none
  top 0
  right 0
  bottom 0
  left 0
  background #000
  opacity 0.618
  z-index 90

#edit-form,
#pswd-form
  position fixed
  //display none
  top 10%
  //right 50%
  //bottom 50px
  left 50%
  background #fff
  z-index 100
  width 420px
  margin-left -200px

  h2
    background bg_prompt
    //border-bottom solid 1px bd_color
    font-size 14px
    font-weight normal
    padding 0 10px
    margin 0
    line-height 40px

  .body
    padding 20px
    line-height 34px

    .ln
      label
        display inline-block
        width 80px
      input[type=text],
      input[type=password]
        width 240px
        padding 6px 10px
        outline none

      input[type=password]
        letter-spacing 8px

      .info
        color #aaa
      .inform
        color color_danger

    .ln.actions
      a
        display inline-block
        margin-right 2em
        color font_color

      a:hover
        color color_hover

      a.delete-host
        color color_danger


  .foot
    background bg_prompt
    padding 16px 20px
    text-align right

    button
      border none
      padding 8px 16px
      margin-left 1em
      cursor pointer
      font-size 14px
      color #000

    button.btn-default
      background #09f
      color #fff

#host-list
  ul
    margin 0
    padding 0
    list-style none

  li
    margin 0
    padding 0 20px 0 20px
    height 34px
    line-height @height
    font-size 14px
    cursor pointer

    i.i-h
      float left
      display inline-block
      width 1.3em

    .btn-edit
      display none
      float right
      margin-right 10px

    span.title
      float left
      display inline-block
      max-width 130px
      overflow hidden
      white-space nowrap
      text-overflow ellipsis

  li:hover
    background bg_left * 1.1

  li.selected
    color #fff
    background bg_left * 0.8

  li.selected:hover
    .btn-edit
      display inline-block

  li.dragged
    opacity 0.4

  i.switch
    float right
    display inline-block
    //width 10px
    //height 10px
    //background color_off
    //margin-top 12px

  i.switch.icon-on
    color color_on
  i.switch.icon-off
    color color_off

#custom-list
  overflow-y auto

[draggable]
  -moz-user-select none
  -khtml-user-select none
  -webkit-user-select none
  user-select none
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag element
  -webkit-user-drag element

// CodeMirror
.cm-s-default .cm-comment
  color #090
.cm-s-default .cm-ip
  color #00a
  font-weight bold
.cm-s-default .cm-hl
  background #ff0
.CodeMirror-gutters
  border-right none
  padding-right 6px
//.CodeMirror-linenumber
//  cursor pointer
.readonly .CodeMirror
  .CodeMirror-cursors
    display none
