@use '../../styles/common';

.root {
  @include common.code;
  width: 100%;
  height: 100%;
}

.editor {
  height: calc(100% - var(--swh-status-bar-height));
  background: inherit;

  &.read_only {
    .surface {
      background: var(--swh-editor-read-only-bg);
      caret-color: transparent;
      opacity: 0.8;
      // box-shadow: inset 0 0 0 1px var(--swh-border-color-0);
    }

    :global {
      .codejar-linenumbers,
      .codejar-linenumbers-inner-wrap {
        background: var(--swh-editor-read-only-bg) !important;
      }
    }
  }

  :global {
    .codejar-wrap {
      height: 100%;
    }

    .codejar-linenumbers-inner-wrap {
      background: var(--swh-editor-gutter-bg) !important;
    }

    .codejar-linenumbers {
      border-right: none;
      padding-right: 6px;
      background: var(--swh-editor-gutter-bg);
      user-select: none;
      cursor: pointer;
    }

    .codejar-linenumber {
      color: var(--swh-editor-line-number-color);
      font-size: 12px;
    }

    .hl-comment {
      color: var(--swh-editor-comment);
    }

    .hl-ip {
      color: var(--swh-editor-ip);
      font-weight: bold;
    }

    .hl-error {
      color: var(--swh-editor-error);
    }
  }
}

.mount {
  height: 100%;
}

.surface {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 8px 10px;
  overflow: auto;
  background: var(--swh-editor-bg-color);
  color: var(--swh-editor-text-color);
  font-family: common.$font-editor;
  font-size: var(--swh-editor-font-size);
  line-height: var(--swh-editor-line-height);
  white-space: pre;
  caret-color: var(--swh-editor-text-color);
}

.surface:focus {
  outline: none;
}

:global(.theme-dark) {
  .editor {
    .surface {
      caret-color: #39c;
    }

    &.read_only {
      .surface {
        // box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05);
        caret-color: transparent;
      }
    }
  }
}
