@import '../styles/cfg.less';

.root {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: @panel-width;
  height: 100%;
}

.inform {
  position: absolute;
  z-index: 100;
  top: 5px;
  right: 10px;
  opacity: 0.5;
  background: #fff;

  i {
    display: none;
    color: #666;
    margin-left: 5px;

    &.show {
      display: inline-block;
    }
  }

  span {
    display: none;

    &.show {
      display: inline-block;
    }
  }

}

.loading {
  color: #f00;
  padding: 10px;
}

.errorMessage {
  display: none;
  position: absolute;
  z-index: 101;
  top: 0;
  left: 0;
  right: 0;
  padding: 4px 40px;
  text-align: center;
  background: rgba(153, 0, 0, 0.5);
  color: #fff;
  transition: 0.5s;

  &.show {
    display: block;
  }
}

.search-bar-wrapper {
  position: fixed;
  left: @panel-width;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 10;
}

:global(.platform-win32) {
  .inform {
    right: 20px;
  }
}

:global(.theme-dark) {
  .inform {
    background: @editor_bg_dark;

    i {
      color: #aaa;
    }
  }

  .search-bar-wrapper {
    background-color: @editor_bg_dark * 1.1;
    box-shadow: 0 -1px 0 0 rgba(255, 255, 255, 0.2);
  }
}
