
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1491015432207'); /* IE9*/
  src: url('iconfont.eot?t=1491015432207#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1491015432207') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1491015432207') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1491015432207#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-switchoff:before { content: "\e60d"; }

.icon-icon:before { content: "\e600"; }

.icon-warnfill:before { content: "\e607"; }

.icon-warn:before { content: "\e608"; }

.icon-ok:before { content: "\e604"; }

.icon-h:before { content: "\e617"; }

.icon-lock:before { content: "\e61d"; }

.icon-off:before { content: "\e613"; }

.icon-on:before { content: "\e614"; }

.icon-search:before { content: "\e61c"; }

.icon-edit:before { content: "\e609"; }

.icon-info:before { content: "\e601"; }

.icon-add-s:before { content: "\e612"; }

.icon-more:before { content: "\e602"; }

.icon-grid:before { content: "\e603"; }

.icon-movedown:before { content: "\e60a"; }

.icon-moveup:before { content: "\e60b"; }

.icon-add:before { content: "\e60c"; }

.icon-folder:before { content: "\e618"; }

.icon-group:before { content: "\e619"; }

.icon-lock2:before { content: "\e61e"; }

.icon-files:before { content: "\e61f"; }

.icon-timescircle:before { content: "\e60e"; }

.icon-earth:before { content: "\e61a"; }

.icon-move:before { content: "\e60f"; }

.icon-delete:before { content: "\e610"; }

.icon-refresh:before { content: "\e63a"; }

.icon-doc:before { content: "\e606"; }

.icon-line:before { content: "\e611"; }

.icon-file-box:before { content: "\e61b"; }

.icon-switchon:before { content: "\e615"; }

.icon-sysserver:before { content: "\e605"; }

.icon-file:before { content: "\e77d"; }

