@import "../../styles/common";

.root {
  height: 100vh;
  display: grid;
  grid-template-rows: var(--swh-top-bar-height) 1fr var(--swh-status-bar-height);
}

.topbar {
  height: var(--swh-top-bar-height);
  border-bottom: 1px solid var(--swh-border-color-1);
  -webkit-app-region: drag;
  user-select: none;

  display: grid;
  grid-template-columns: 40px 1fr 40px 40px;

  & > div {
    margin: auto;
    line-height: var(--swh-top-bar-height);
  }

  svg {
    position: relative;
    top: 1px;
  }
}

.toggle_left_panel {
}

.without_left_panel {
}

.hosts_icon {
  padding-right: 0.5em;
  display: inline-block;
}

.hosts_title {
  margin-left: 0 !important;

  .sp {
    position: relative;
    top: 1px;
    display: inline-block;
    width: 1em;
    height: 1em;
    border-left: 1px solid var(--swh-border-color-1);
  }
}

:global(.platform-darwin) {
  .without_left_panel {
    padding-left: 70px;
  }
}

.main {
  width: 100%;
  height: calc(100vh - var(--swh-top-bar-height) - var(--swh-status-bar-height));
  //overflow: auto;

  textarea {
    width: 100%;
    height: 100%;
    border: none;
    padding: 8px;
    resize: none;
    outline: none;
  }
}

.status_bar {
  height: var(--swh-status-bar-height);
  line-height: var(--swh-status-bar-height);
  border-top: 1px solid var(--swh-border-color-1);
  padding: 0 10px;
  font-size: 12px;

  display: grid;
  grid-template-columns: 60px 1fr;
  color: var(--swh-font-color-weak);
}
