@import '../cfg.less';

#sh-buttons {
  @bg_left: #373d47;

  position: absolute;
  bottom: 0;
  width: 240px;
  height: 30px;
  line-height: 30px;
  background: @bg_left;

  .left {
    float: left;
    padding-left: 10px;

    .btn-add {
      display: inline-block;
      text-align: center;
      width: 20px;
      color: @font_color_left;
      text-decoration: none;

      &:hover {
        background: rgba(255, 255, 255, 0.1);
      }
    }
  }

  .right {
    float: right;
    padding-right: 17px;
    height: 30px;

    i {
      display: inline-block;
      margin-left: 10px;
      cursor: pointer;

      &.icon-switchoff {
        position: relative;
        top: -1px;
      }

      &.icon-search {
        padding: 0 8px;
        &.on {
          background: @bg_left_search;
        }
      }
    }
  }
}
